.anim-up-down{
    animation: upNdown 5s infinite;
}

@keyframes upNdown{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}

@keyframes leftTOright{
    0%{
        left: 0;
    }
    50%{
        left: -200%;
    }
    100%{
        left: 0;
    }
}

@keyframes section5ToLeft{
    0%{
        width: 0px;
        left: 50%;
    }
    40%{
        width: 400px;
        left: calc(50% - 400px);
    }
    100%{
        left: -500px;
    }
}


@keyframes section5ToRight{
    0%{
        width: 0px;
        right: 50%;
    }
    40%{
        width: 400px;
        right: calc(50% - 400px);
    }
    100%{
        right: -500px;
    }
}