@keyframes up-down{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes leftTOright{
    0%{
        left: 0;
    }
    50%{
        left: -200%;
    }
    100%{
        left: 0;
    }
}

@keyframes cityLeftRight{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: -1000px;
    }
    100%{
        margin-left: 0px;
    }
}

@keyframes pinwheelService{
    0%{
        transform: translate(25%, -25%) rotateX(0deg) rotateZ(0);
    }
    50%{
        transform: translate(25%, -25%) rotateX(0deg) rotateZ(2000deg);
    }
    100%{
        transform: translate(25%, -25%) rotateX(0deg) rotateZ(0);
    }
}

@keyframes adsDisplay{
    0%{background: #f1fa3c}
    20%{background: #fa163f}
    40%{background: #08ffc8}
    60%{background: #ed0cef}
    80%{background: #0028ff}
    100%{background: #32ff6a}
}