.card{

    border: none;
    border-radius: 20px;
    background: transparent;
    margin: 20px 0;

    &.grid-lp{
        border-radius: 0px;
        margin: -1px -1px 0 0;
        border: solid 1px rgba(#ececec, .5);

        &.no-border{
            border: none;
        }
    }

    &.card-plan{
        width: 30%;
        min-height: 60%; 
        margin: 0 10px;

        .card-plan-title{
            display: block;
            padding: 10px 20px;
            width: 50%;
            border-radius: 20px;
            margin: 20px auto;
        }

        .card-body{
            padding: 20px;
        }

        .card-footer{
            border: none;
            background: transparent;
        }
    }
}


