.navbar-nav{
    .nav-item{
        margin: 0 15px;
        a{
            text-decoration: none;
            color: #353742;
            font-weight: 600;
        }
    }
}

nav#main-navbar{
    transition: all .5s ease-in-out;
}