.intro-section{
    // background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
}

.shadow-text-big{
    position: absolute;
    z-index: 0;
    font-size: 40em;
    top: 5vh;
    left: 15%;
    font-weight: 900;
    letter-spacing: -.05em;
    color: rgba($color: theme-color("secondary"), $alpha: .1);   
}

#section-1-big-title{
    font-size: 4em;
    font-weight: 900;
    line-height: 1.2em;
    position: absolute;
    letter-spacing: -2.5px;
    z-index: 10;
    top: 25vh;
    left: 7.5%;
    text-transform: capitalize;
}

#section-1-big-img{
    position: absolute;
    top: 12.5vh;
    width: 500px;
    height: 75vh;
    right: 7.5%;
    
    .main-big-img{
        position: relative;
        width: 250px;
        height: 70%;
        margin: 15% auto;
        border-radius: 20px;
        
        img{
            position: relative;
            display: block;
            width: 100%;
            z-index: 10;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 0 15px 10px rgba($color: theme-color("secondary"), $alpha: .25);
            animation : up-down 5s infinite; 
        }
        
        .bg-shadow{
            content: "asd";
            position: absolute;
            width: 250px;
            height: 80%;
            top: 35%;
            border-radius: 20px;
            transform: rotate(-50deg);
            background: #a8ff3e;
            z-index: 9;
            box-shadow: 0 0 25px 10px rgba($color:#a8ff3e, $alpha: .15);
        }
        
        .bg-shadow-2{
            content: "";
            position: absolute;
            width: 250px;
            height: 100%;
            top: -10%;
            transform: rotate(-20deg);
            background: #00d1cd;
            border-radius: 20px;
            box-shadow: 0 0 25px 10px rgba($color:#00d1cd, $alpha: .15);
            // animation: up-down 4s infinite;
        } 
        
        .bg-shadow-3{
            content: "";
            position: absolute;
            width: 250px;
            height: 100%;
            top: 20px;
            left: 0px;
            border-radius: 20px;
            background: #fb0091;
            transform: translateX(20%) rotate(40deg);
            box-shadow: 0 0 25px 10px rgba($color:#fb0091, $alpha: .15);
        }
    }
}

.btn-getstarted{
    position: absolute;
    top: 50%;
    left: 8.5%;
    z-index: 10;
    border-radius: 100px;
    font-size: 1em;
    padding: 10px 25px;
    box-shadow: 0 0 25px 10px rgba($color: theme-color("danger"), $alpha: .15);
    
    &:after{
        content: "start bost your brand awaraness now";
        color: theme-color("secondary");
        position: absolute;
        left: 75%;
        top: 10px;
        width: 300%;
        pointer-events: none;
    }
}

.opening{
    position: absolute;
    font-size: 10em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    
    background-image: url(https://images.pexels.com/photos/2261702/pexels-photo-2261702.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    #bg-section-two{
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: -1;
        border-radius: 100%;
    }
    
    #section-two-opening-1{
        position: relative;
        opacity: 0;
        display: none;
        letter-spacing: 50px;
    }
    
    span.greating{
        width: 100%;
        opacity: 0;
        display: none;
        text-transform: lowercase;
        text-shadow: 1px 5px 25px #21212130;
        
        &#section-two-opening-2{
            opacity: .15;
            letter-spacing: 50px;
            span{
                opacity: .15;
            }
        }
        
        &#section-two-opening-3{
            position: relative;
            text-transform: capitalize;
            letter-spacing: 50px;
            width: auto;
            padding: 0 50px;
            background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
            
            &:after{
                content: "ANGKODS";
                position: absolute;
                top: 50%;
                font-size: 3.5em;
                left: 50%;
                z-index: -1;
                opacity: .15;
                transform: translate(-50%,-50%);
                color : #353742;
            }
            
            &:before{
                content: "advertising agency";
                position: absolute;
                font-size: 20px;
                color: black;
                transform: translate(0, 50px);
                letter-spacing: 1px;
                right: 50px;
                bottom: 0px;
                z-index: -1;
                background: yellow;
                padding: 5px 20px;
            }
        }
    }
}

#section-three{
    position: absolute;
    font-size: 10em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient( circle 961px at 1.9% 5%,  rgba(242,241,36,1) 0%, rgba(11,236,218,1) 90% );
    background-repeat: no-repeat;
    background-size: cover; 
    transform-style: preserve-3d;
    perspective: 1000px;
    
    #section-three-boy{
        height: 90vh;
        position: absolute;
        filter: drop-shadow(10px 10px 16px #21212140);
        z-index: -1;
        right: 100px;
    }
    
    .section-three-main-text{
        font-size: 1em;
        width: 80%;
        height: 70vh;
        position: relative;
        
        span{
            display: block;
            text-transform: uppercase;
            line-height: .65em;
            color: white;
            text-shadow: 0 -10px 20px #21212110;
            
            &.one{
                text-align: left;
                position: absolute;
                top: 50PX;
                left: 0px;
                z-index: -2;
                transform: translateZ(-50px);
            }
            
            &.two{
                text-align: right;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateZ(50px);
            }
        }
    }
}

#section-four{
    position: absolute;
    font-size: 10em;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(236,250,1,0.98) 0%, rgba(254,154,46,1) 98.1% );
    
    #food-section{
        background : #fcf8e8;
        width: 50%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        transition: all .5s ease-in-out;
        
        #food-img{
            position: fixed;
            bottom: 0;
            right: 400px;
            width: 800px;
            filter: drop-shadow(-25px 15px 20px #21212120);
            transition: all .5s ease-in-out;
        }
        
        .food-text {
            font-size: .8em;
            letter-spacing: -5px;
            color: #fa163f;
            position: absolute;
            left: 80px;
            top: 25vh;
            transform: translateY(-50%);
            font-style: initial;
        }
        
        p.text{
            font-size: 12px;
            line-height: 20px;
            width: 300px;
            text-align: left;
            position: absolute;
            left: 80px;
            top: calc(25vh + 6em);
        }
        
        p.food-name{
            position: absolute;
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            bottom: 10vh;
            left: 60px;
            color: #fa163f;
            font-family: 'Gilroy-bold';
            transform: rotate(-90deg) translateX(100%);
            
            &:after{
                content: "";
                position: absolute;
                width: 2px;
                height: 50px;
                background: #fa163f;
                left: -50px;
                transform: rotate(90deg);
                bottom: 0px;
            }
        }
    }
    
    #drink-section{
        background: #ffd739;
        width: 50%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .5s ease-in-out;
        
        #drink-img {
            position: fixed;
            width: 200px;
            left: calc(50% - 50px);
            bottom: 0;
            transform: rotate(15deg);
            z-index: 10;
            filter: drop-shadow(5px 5px 10px #21212110);
            transition: all .5s ease-in-out;
        }
        
        #orange-img {
            position: fixed;
            width: 300px;
            bottom: 50px;
            left: calc(50% + 40px);
            z-index: 5;
            filter: drop-shadow(5px 55px 20px #ffa41b30);
            transition: all .5s ease-in-out;
        }
        
        .drink-text{
            font-size: .8em;
            letter-spacing: -5px;
            color: #fff;
            position: absolute;
            right: 80px;
            top: 25vh;
            transform: translateY(-50%);
            font-style: initial;
        }
        
        p.text {
            font-size: 12px;
            line-height: 20px;
            width: 350px;
            text-align: right;
            position: absolute;
            right: 80px;
            top: calc(25vh + 6em);
            color: #fff;
        }
        
        p.food-name {
            position: absolute;
            font-size: 16px;
            line-height: 16px;
            text-align: left;
            bottom: 10vh;
            right: 60px;
            color: orange;
            font-family: 'Gilroy-bold';
            transform: rotate(90deg) translateX(-100%);
            
            &:after{
                content: "";
                position: absolute;
                width: 2px;
                height: 50px;
                background: orange;
                right: -50px;
                transform: rotate(90deg);
                bottom: 0px;
            }
        }
    }
    
    h1.promotion {
        position: fixed;
        z-index: 10;
        font-size: 1em;
        bottom: 0vh;
        letter-spacing: -10px;
        color: #fff;
        text-shadow: 5px 1px 70px #21212110;
    }
    
    h1.plus {
        position: fixed;
        z-index: 12;
        font-size: 2em;
        color: #fa163f;
    }
    
    &.promotion{
        #food-section{
            width: 35vh;
            height: 70vh;
            top: 15vh;
            left: calc(50% - 35vh);
            border-radius: 2000px 0 0 2000px;
            
            #food-img{
                bottom: 50%;
                transform: translateY(50%);
            }
        }
        
        
        #drink-section{
            width: 35vh;
            height: 70vh;
            top: 15vh;
            right: calc(50% - 35vh);
            border-radius: 0 2000px 2000px 0;
            
            #orange-img,
            #drink-img{
                bottom: 50%;
                transform: translateY(50%);
            }
        }
    }
}

#section-five{
    position: absolute;
    font-size: 10em;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
    .phone-border-wrapper{
        height: 100vh;
        
        #phone-wrapper{
            position: absolute;
            right: 0;
            width: auto;
            transition: all .5s ease-in;
            
            &.box{
                transform: rotateZ(-5deg) rotateY(5deg) translateY(5%);
            }
            
            #phone{
                width: 230px;
                height: calc(230px * 2.05);
                border-radius: 40px;
                background: #353742;
                overflow: hidden;
                box-sizing: border-box;
                padding: 7px;
                transition: all .5s ease-in;
                position: relative;
                overflow: hidden;
                
                &:after{
                    content: "";
                }
                
                &:before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #ffffff20;
                    position: absolute;
                    left: -50%;
                    top: 0;
                    transform: skewX(-5deg);
                    z-index: 50;
                }
                
                .screen {
                    position: relative;
                    width: auto;
                    height: 100%;
                    background: white;
                    border-radius: 35px;
                    box-sizing: border-box;
                    overflow: hidden;
                    background-size: cover;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        height: 20px;
                        width: 50%;
                        background: #353742;
                        left: 25%;
                        border-radius: 0 0 15px 15px;
                        z-index: 40;
                    }
                    
                    .lock-screen{
                        object-fit: cover;
                        display: block;
                        height: 100%;
                        filter: blur(3px);
                        transform: scale(1.05);
                        position: absolute;
                        width: 220px;
                        border-radius: 35px;
                        transition: all .5s ease;
                        z-index: 30;
                    }
                    
                    .date-time {
                        position: absolute;
                        width: 100%;
                        display: block;
                        font-size: 50px;
                        top: 80px;
                        
                        p#phone-date {
                            font-size: 12px;
                            margin: 0;
                            opacity: .7;
                        }
                        
                        p#phone-time {
                            margin: 0px;
                            line-height: 50px;
                            opacity: .7;
                        }
                    }
                    
                    .application{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: #f1f9f9;
                        z-index: 20;
                        
                        .header{
                            width: 100%;
                            height: 60px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            background: #fff;
                            box-shadow: 1px 0px 10px 0px #bbcfff40;
                            z-index: 1;
                            p{
                                color: #192965;
                                font-size: 20px;
                                margin: 25px 15px 0;
                                text-align: left;
                                box-sizing: border-box;
                            }
                            
                        }
                        
                        .content {
                            width: 100%;
                            height: calc(100% - 60px);
                            margin-top: 60px;
                            overflow: hidden;
                            
                            ul {
                                margin: 0;
                                padding: 0px;
                                position: relative;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                
                                li {
                                    display: inline-block;
                                    width: 100%;
                                    height: 70px;
                                    position: relative;
                                    background: #fff;
                                    
                                    img {
                                        position: absolute;
                                        width: 40px;
                                        margin: 15px;
                                        border-radius: 100%;
                                        height: 40px;
                                        display: inline-block;
                                        left: 0;
                                    }
                                    
                                    .name {
                                        position: absolute;
                                        display: inline-block;
                                        width: calc(100% - 70px);
                                        left: 70px;
                                        top: 14px;
                                        
                                        p {
                                            position: relative;
                                            font-size: 12px;
                                            display: block;
                                            margin: 0px;
                                            line-height: 14px;
                                            text-align: left;
                                            color: #192965;
                                            &:nth-child(2){
                                                color: #19296570;
                                                text-overflow: ellipsis;
                                                overflow: hidden;
                                                height: 30px;
                                                width: 90%;
                                                -webkit-box-orient: vertical;
                                                
                                            }
                                        }
                                        
                                        span {
                                            position: absolute;
                                            background: #ff2e63;
                                            height: 20px;
                                            width: 20px;
                                            color: #fff;
                                            right: 10px;
                                            top: 5px;
                                            border-radius: 5px;
                                            
                                            p{
                                                text-align: center;
                                                top: 3px;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    .game {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        background: #94d3ac;
                        z-index: 10;
                        
                        p{
                            position: absolute;
                            z-index: 12;
                            font-size: 50px;
                            line-height: 40px;
                            letter-spacing: -5px;
                            width: 100%;
                            text-align: center;
                            top: 50px;
                            color: #2c7873;
                            text-shadow: 1px 2px 0px #ccda46, 
                            -1px -2px 0px #32ff6a, 
                            1px -2px 0px #94fc13, 
                            -1px 2px 0px #22eaca;
                        }
                        
                        img.game-img {
                            width: 50px;
                            position: absolute;
                            bottom: 55px;
                            left: 50%;
                            transform: translateX(-50%);
                            z-index: 10;
                        }
                        
                        .par{
                            position: absolute;
                            left: 0;
                            height: 100%;
                            
                            &.par2{
                                animation: leftTOright 15s infinite linear;
                            }
                            
                            &.par3{
                                animation: leftTOright 14s infinite linear;
                            }
                            
                            &.par4{
                                animation: leftTOright 12s infinite linear;
                            }
                            
                            &.par5{
                                animation: leftTOright 10s infinite linear;
                            }
                        }
                    }
                }
            }
            
        }
        
        img.console-pad {
            position: fixed;
            z-index: -1;
            right: 10%;
            opacity: .02;
            transform: rotateZ(-45deg);
        }
        
        .chat-highlight {
            position: absolute;
            width: 300px;
            height: 100px;
            background: #fff;
            box-shadow: 1px 1px 25px 10px #bbcfff25;
            border-radius: 30px;
            
            &.app-conveti-1{
                transform: translateX(70%) translateY(220%);
                z-index: 60;
            }
            
            &.app-conveti-2 {
                z-index: -1;
                transform: translate(-40px, 100px);
            }
            
            img {
                position: absolute;
                left: 25px;
                top: 25px;
                border-radius: 100px;
            }
            
            .name {
                position: absolute;
                width: 200px;
                left: 100px;
                top: 50%;
                transform: translateY(-50%);
                
                p {
                    font-size: 16px;
                    margin: 0;
                    text-align: left;
                    color: #192965;
                }
                
                span {
                    position: absolute;
                    background: #ff2e63;
                    right: -20px;
                    top: 15px;
                    width: 30px;
                    border-radius: 10px;
                    text-align: center;
                    padding: 2.5px;
                    
                    p{
                        text-align: center;
                        color: #fff;
                    }
                }
            }
        }
        
        .text-wrapper {
            height: 1.6em;
            overflow: hidden;
            width: 100%;
            
            h1#text-phone {
                color: #dadada;
                font-size: .8em;
                line-height: .7em;
                height: 2em;
                bottom: 0;
                letter-spacing: -10px;
                margin: 0;
                text-align: left;
                width: 100%;
                box-sizing: border-box;
                padding-left: 10%;
                transition: all .5s ease;
            }
        }
        
    }
    
    
    
    
    
    h1#text-app {
        font-size: 1em;
        text-transform: uppercase;
        position: absolute;
        padding: 0 25px;
        line-height: .8em;
        text-align: left;
        left: 10%;
        transform: translateX(-100%);
        opacity: 0;
    }
    
    .app-atribute{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        img#play-store {
            position: absolute;
            height: 50px;
            bottom: 10vh;
            right: 50%;
            transform: translateX(55%);
        }
        
        img#app-store {
            position: absolute;
            height: 50px;
            bottom: 10vh;
            right: 50%;
            transform: translateX(-55%);
        } 
        
        .app-preview{
            
        }
        
    }
    
    
}

#section-six{
    position: absolute;
    font-size: 10em;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
    .everyting{
        font-size: 1em;
        letter-spacing: -10px;
        width: 80%;
        text-align: center;
    }
    
    
    .upload-wrapper {
        width: 500px;
        min-height: 250px;
        border-radius: 20px;
        box-shadow: 10px 1px 45px 0px #f0efef;
        transform: translateX(25%);
        
        .upload-area {
            width: 450px;
            height: 200px;
            border-radius: 20px;
            border: dashed 2px #e2e1e1;
            margin: 25px 25px 0;
            position: relative;
            
            .text {
                position: absolute;
                width: 100%;
                height: 50px;
                bottom: 0;
                
                .header{
                    font-size: 16px;
                    letter-spacing: -.5px;
                    color: #1089ff;
                    font-weight: bold;
                    line-height: 16px;
                    margin: 0px;
                    span{
                        color : #293a80;
                    }
                }
                
                .secondary-text {
                    font-size: 12px;
                    margin: 0;
                    color: #e2e1e1;
                }
            }
            
            .img-upload {
                position: absolute;
                width: 60px;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        
        .upload-list {
            position: relative;
            width: 450px;
            height: 75px;
            background: #ededed;
            margin: 10px 25px 25px;
            border-radius: 20px;
            overflow: hidden;
            border: solid 2px #e2e1e1;
            
            span.loading {
                position: absolute;
                width: 70%;
                height: 100%;
                left: -20px;
                top: 0;
                background: #fff;
                z-index: 0;
                transform: skewX(-20deg);
            }
            
            .cancel {
                position: absolute;
                right: 0;
                font-size: 20px;
                top: 50%;
                height: 30px;
                background: #fe346e;
                width: 30px;
                border-radius: 100px;
                transform: translate(-50%, -50%);
                color: #fff;
            }
            
            img.png-file {
                position: absolute;
                left: 20px;
                top: 15px;
                height: 40px;
            }
            
            p.img-name {
                font-size: 16px;
                position: absolute;
                left: 80px;
                top: 50%;
                transform: translateY(calc(-50% - 5px));
                color: #a0a0a0;
                
                span{
                    font-size: 12px;
                    left: 0;
                    position: absolute;
                    top: 20px;
                    color: #cecece;
                }
            }
        }
    }
    
    .img-cursor {
        position: absolute;
        bottom: 150px;
        right: 50%;
        z-index: 20;
        
        img{
            float: left;
            height: 30px;
            width: 30px;
            position: absolute;
            z-index: 20;
            top: -15px;
            filter: drop-shadow(2px 4px 6px #21212120);
        }
        
        &:after {
            content: "";
            background-image: url(https://loremflickr.com/cache/resized/65535_49222066638_3dc6b0d61a_400_100_nofilter.jpg);
            width: 400px;
            height: 100px;
            position: absolute;
            left: 15px;
            top: 0;
            transform: translateX(-50%);
            border-radius: 20px;
            box-shadow: 10px 1px 35px 0px #cccccc;
        }
    }
    
    h1.text-upload {
        text-align: left;
        font-size: .5em;
        bottom: 50px;
        letter-spacing: -5px;
        transform: translateX(-25%);
    }
    
    .date-wrapper{
        transform: translateX(100%);
        
        .date-picker{
            font-size: 16px;
            font-weight: bold;
            
            .footer{
                p{
                    text-align: left;
                    padding: 0 10px;
                    margin: 0 0 15px;
                    color: #adadad;
                    span{
                        width: 100px;
                        color: #adadad;
                        
                    }
                }
            }
            
            .header{
                p{
                    text-align: left;
                    padding: 0 10px;
                    margin: 0;
                }
            }
            
            .picker{
                width: 350px;
                display: inline-block;
                margin: 15px 0 25px;
                
                span{
                    width: 50px;
                    float: left;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    &.gray-date{
                        color: #d4d4d4;
                    }
                    
                    &.select{
                        background: #f4ff61;
                    }
                }
            }
        }
    }
    
    .date-picker-text {
        position: absolute;
        left: 10%;
        
        h1{
            font-size: .5em;
            text-align: left;
            letter-spacing: -5px;
            margin: 0;
            span{
                color: #ff3796;
            }
        }
    }
    
    .city-wrapper {
        position: absolute;
        height: 300px;
        right: 0;
        width: 55%;
        display: flex;
        overflow: hidden;
        flex-wrap: nowrap;
        
        .city-targeting{
            background: #21212195;
            height: 300px;
            background-position: center;
            background-size: cover;
            background-blend-mode: overlay;
            font-size: .2em;
            color: #ffffff;
            position: relative;
            overflow: hidden;
            min-width: 300px;
            margin: 0 15px;
            border-radius: 20px;
            
            &.city-left-right{
                animation: cityLeftRight 20s infinite linear;
            }
            
            img{
                margin-bottom: 20px;
            }
            
            &.semarang{
                background-image: url(https://images.pexels.com/photos/2810699/pexels-photo-2810699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            }
            &.bali{
                background-image: url(https://images.pexels.com/photos/1643130/pexels-photo-1643130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            }
            
            &.jakarta{
                background-image: url(https://images.pexels.com/photos/2126389/pexels-photo-2126389.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            }
            
            &.malang{
                background-image: url(https://images.pexels.com/photos/2291648/pexels-photo-2291648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
            }
            
            &.jogja{
                background-image: url(https://images.pexels.com/photos/746994/pexels-photo-746994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
            }
            
            &.samarinda{
                background-image: url(https://images.pexels.com/photos/1877078/pexels-photo-1877078.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            }
        }
    }
    
    
    
    .targeting-text{
        position: absolute;
        font-size: .6em;
        left: 10%;
        width: 10%;
        line-height: 1em;
        letter-spacing: -5px;
    }
    
}

.ads-banner{
    background: #448ef6;
    width: 400px;
    height: 120px;
    border-radius: 20px;
    
    p{
        font-size: 4em;
        line-height: 1.2em;
    }
}

.service-section{
    flex-wrap: wrap;
    
    .service-item{
        height: 400px;
        position: relative;
        
        h1.service-title {
            position: absolute;
            font-size: 8em;
            letter-spacing: -7px;
            color: #ededed;
            left: 10%;
            white-space: nowrap;
            top: 50px;
        }
        
        .text{
            h1,p{
                margin: 0px;
                font-size: 16px;
                line-height: 22px;
            }
            
            h1{
                font-size: 1.8em;
                letter-spacing: -1px;
                margin-bottom: 15px;
                line-height: 1em;
            }
        }
        
        &.coverage-area {
            img.main-img {
                position: absolute;
                width: 80%;
                right: -15%;
                z-index: 20;
                top: -20%;
                animation: droneMovement 3s infinite linear;
            }
            
            .text{
                position: absolute;
                bottom: 50px;
                left: 50px;
                width: 50%;
            }
        }
        
        
        &.targeting{
            background: #b6ffea;
            
            .text{
                position: absolute;
                right: 10%;
                width: 60%;
                text-align: right;
                top: 10%;
                
                h1,p{
                    color: #6aad9a;
                }
            }
            
            .main-img{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                clip-path: circle(25% at 50% 50%);
                animation: tergetingMovement 5s infinite linear;
            }
        }
        
        &.saving{
            background: #ffcfcf40;
            
            img{
                position: absolute;
                right: 0;
                top: 0;
                margin: 25%;
                width: 50%;
                transform: rotateY(-180deg);
            }
            
            .text{
                position: absolute;
                bottom: 50px;
                left: 0;
                text-align: center;
                width: 60%;
                margin: 0 20%;
                
                h1,p{
                    color: #e6b6b6;
                }
            }
        }
        
        &.creative{
            background: #fff3be;
            
            .main-img{
                position: absolute;
                height: 150%;
                top: 0;
                right: 0;
                transform: translate(25%, -25%) rotateX(0deg) rotateZ(0);
                animation: pinwheelService 20s infinite;
            }
            
            .text{
                position: absolute;
                top: 50%;
                left: 5%;
                text-align: left;
                width: 40%;
                transform: translateY(-50%);
            }
        }
        
        &.monitoring{
            background: #e1eeff;
            
            img{
                position: absolute;
                right: 0;
                bottom: -10%;
                width: 100%;
            }
            
            .text{
                position: absolute;
                top: 50px;
                left: 0;
                text-align: center;
                width: 60%;
                margin: 0 20%;
                
                h1,p{
                    color: #9db4d2;
                }
            }
        }
        
        &.best-quality{
            img.main-img {
                position: absolute;
                bottom: 0;
                left: calc((100% - 250px )/ 2);
                width: 250px;
                height: 250px;
                animation: pionBounce 1.5s infinite;
            }
            
            .text{
                width: 90%;
                margin: 15% 5%;
                text-align: center;
            }
        }
        
        &.billboard{
            background: #e1f4f3;
            
            .ads{
                position: absolute;
                left: -10%;
                height: 100%;
                transform: rotateY(-180deg);
                perspective: 1050px;
                
                .main-img{
                    height: 100%;
                    position: relative;
                    z-index: 10;
                }
                
                .ad-content {
                    position: absolute;
                    width: 50%;
                    height: 60%;
                    background: #f1fa3c;
                    left: 22%;
                    top: 17%;
                    transform: rotateY(-60deg);
                    animation: adsDisplay 5s infinite linear;
                    
                    &:after{
                        content: "";
                        position: absolute;
                        width: 20%;
                        height: 100%;
                        background: #ffffff40;
                        left: 0;
                    }
                    
                    h1{
                        transform: rotateY(-180deg);
                    }
                }
            }
            
            .text {
                position: absolute;
                right: 5%;
                top: 40%;
                width: 45%;
                text-align: right;
                
                h1,p{
                    color: #7ad6d1;
                }
            }
        }
    }
}

.partnership-section{
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    
    .partnership-title{
        font-size: 8em;
        letter-spacing: -7px;
        top: 10%;
        left: 10%;
        color: #ededed;
        width: 100%;
        text-align: right;
        
    }
    
    .partnership-img-wrapper{
        white-space: nowrap;
        margin: 50px auto;
        overflow-x: hidden;
        position: relative;
        
        .item{
            display: inline-block;
            height: 75px;
            margin: 0 15px;
        }
        
        &:before{
            content: "";
            height: 100%;
            position: absolute;
            width: 150px;
            background: linear-gradient(right, rgba(255,255,255,1) 100%, rgba(255,255,255,0) 0%);
            left: 0;
            top: 0;
        }
        
        &:after{
            content: "";
            height: 100%;
            position: absolute;
            width: 150px;
            background: linear-gradient(right, rgba(255,255,255,0) 100%, rgba(255,255,255,1) 0%);
            right: 0;
            top: 0;
        }
    }
}

.plan-section{
    background: #f6f6f6;
    
    h1.plan-title {
        position: absolute;
        font-size: 18em;
        top: 2.5%;
        color: #ededed;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: -19px;
    }
    
    .planing-item {
        box-sizing: border-box;
        padding: 20px;
        cursor: pointer;
        transition: all .25s ease-in-out;
        
        &:hover{
            box-shadow: 0px 45px 40px -45px #21212130;
            
            .detail-link{
                width: 120px;
                background: #dbff3d;
            }
            
            img.main-img {
                transform: scale(1.5) translateY(-50%);
            }
        }
        
        .detail-link{
            position: relative;
            width: 100%;
            text-decoration: none;
            margin: 0 auto;
            text-align: center;
            border-radius: 10px;
            transition: all .25s ease-in-out;
            
            p{
                margin: 0;
                font-size: 16px;
                padding: 10px 15px;
                display: inline-flex;
                transition: all .1s ease-in-out;
            }
            
            img.next {
                opacity: 0;
                position: absolute;
                height: 16px;
                right: 15px;
                top: 50%;
                transform: translate(-25px, -50%);
                transition: all .1s ease-in-out;
            }
            
            &:hover{
                width: 150px;
                
                p{
                    transform: translateX(-10px);
                }
                
                img.next {
                    opacity: 1;
                    transform: translate(0px, -50%);
                }
            }
        }
        
        &.first-item{
            transform: translateX(-10%);
            &:hover{
                transform: translateX(-10%) scale(1.1);
            }
        }
        
        &.midle-item{
            transform: translateY(20%);
            &:hover{
                transform: translateY(20%) scale(1.1);
            }
        }
        
        &.last-item{
            transform: translateX(10%) translateY(7.5%);
            &:hover{
                transform: translateX(10%) translateY(7.5%) scale(1.1);
            }
        }
        
        img.main-img {
            position: relative;
            width: 40px;
            margin: 0 auto;
            filter: drop-shadow(0px 10px 5px #ffe75e80);
            transition: all .25s ease-in-out;
        }
        
        .text {
            display: block;
            width: 100%;
            margin: 25px 0 5px;
            text-align: center;
            
            h1 {
                font-size: 16px;
                color: #49566f;
                margin: 0 0 20px;
            }
            
            p{
                font-size: 14px;
                color: #49566f80;
            }
        }
    }
}

.showcase-section{
    // background: #f6f6f6;
    // background: #dbff3d;
    background: #fffdf9;
    
    h1.showcase-title {
        position: absolute;
        font-size: 18em;
        top: 2.5%;
        color: #ededed;
        left: 50%;
        transform: translateX(-50%);
        letter-spacing: -19px;
    }
    
    .thumbnail{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 150px;
        left: 0;
        bottom: 0;
        box-shadow: 0px 0px 30px 10px #ececec40;
        
        .item{
            position: relative;
            width: calc(100% / 6);
            height: 150px;
            background: #ffffff50;
            margin: 0px;
            float: left;
            cursor: pointer;
            
            img.img-client {
                position: relative;
                width: 50%;
            }
        }
        
        span#active-thumbnail {
            position: absolute;
            z-index : 20;
            left: 0;
            bottom: 0;
            width: calc(100% / 6);
            height: 15px;
            background: #dbff3d;
        }
    }
    
    .main-slide {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 5;
        
        .slide-item {
            position: relative;
            width: 100%;
            height: 100vh;
            float: left;
            
            img.logo {
                position: absolute;
                width: 150px;
            }
            
            img.main-img {
                position: relative;
                width: 50%;
                margin: 0 auto;
                display: block;
                top: 50%;
                transform: translate(0, -50%);
                opacity: .7;
                filter: drop-shadow(10px 10px 20px #21212130);
            }
        }
    }
    
    
}

.home-section{
    background: #f7f7f7;
    
    .opening-text{
        position: absolute;
        left: 10%;
        top: 30%;
        width: 40%;
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -1px;
    }

    .client-area-section-1{
        position: absolute;
        bottom: 7.5%;
        left: 50%;
        z-index: 5;
        transform: translateX(-50%);
        height: 90px;
        white-space: nowrap;
        border-radius: 10px;
        overflow: hidden;
        
        .item{
            height: 100%;
            padding: 15px 25px;
        }
    }

    .opening-start-btn{
        border: none;
        font-size: 16px;
        padding: 10px 25px;
        position: absolute;
        left: 50%;
        bottom: calc(5% + 150px);
        transform: translateX(-50%);
        background: #dbff3d;
        cursor: pointer;
        text-align: left;
        width: 136px;
        overflow: hidden;
        box-shadow: 0px 0px 0px 0px #21212170;
        transition: all .25s ease-in-out;

        .next{
            height: 20px;
            position: absolute;
            right: 50px;
            top: 50%;
            opacity: 0;
            transform: translateY(-50%);
            transition: all .25s ease-in-out;
        }

        &:hover{
            width: 160px;
            box-shadow: 10px 0px 0px 0px #212121;
            // box-shadow: 0px 20px 20px -20px #21212170;

            .next{
                right: 15px;
                opacity: 1;
            }
        }
    }

    .title-wrapper{
        position: absolute;
        top: 45%;
        overflow: hidden;

        &.main{
            left: 50%;
            transform: translateX(-95%) translateY(-50%) skewX(-25deg);
            width: 530px;
        }

        h1.home-title {
            font-size:260px;
            // color: #ededed;
            color: #dbff3d;
            letter-spacing: -20px;
            z-index: 10;
            text-align: center;
            transform: skewX(25deg);
        }

        &.reverse{
            right: 50%;
            transform: skewX(-25deg) translateX(95%) translateY(-30%);
            width: 530px;

            h1.home-title {
                transform: skewX(25deg) translateX(-100%);
            }

        }
    }

    .show-card {
        position: absolute;
        width: 250px;
        height: 350px;
        background: #fff;
        border-radius: 25px;
        right: 10%;
        top: 45%;
        transform: translateY(-50%) rotate(5deg);
        box-shadow: 5px 45px 25px -42px #21212120;

        &.pie{
            transform: translate(-50%, -40%) rotate(-5deg);
        }
        
        p{
            text-align: center;
            margin: 15px;
            font-size: 20px;

            &.desc{
                position: absolute;
                bottom: 0px;
                font-size: 12px;
            }
        }

        img.main-img {
            position: absolute;
            width: 130%;
            transform: translateX(-50%);
            left: 50%;
            bottom: 75px;
        }

        .footer{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
            width: 100%;
            background: $blue;
            border-radius: 0 0 25px 25px;
        }
    }
    
    
    #section-one{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        flex-wrap: wrap;
        z-index: -1;

        span.home-conveti {
            position: relative;
            width: calc((100vw - 20px) / 9);
            height: calc((100vw - 20px) / 9);
            background: #f7f7f7;
            box-shadow: 5px 5px 20px 15px #9e9b9b09;
            transition: all 1s ease;

            &.radius-1{
                border-radius: 100px;
            }

            &.radius-2{
                border-radius: 100px 100px 0 0;
            }

            &.radius-3{
                border-radius: 100px 100px 100px 0;
            }

            &.radius-4{
                border-radius: 100px 0 0 0;
            }

            &.radius-5{
                border-radius: 0 100px 0 0;
            }

            &.radius-6{
                border-radius: 0;
                box-shadow: unset;
                z-index : 0 !important;
            }

            &.radius-7{
                border-radius: 0 0 100px 0;
            }

            &.radius-7{
                border-radius: 0 0 0 100px;
            }
        }
    }
}

#about-us{
    background: #f9f9f9 !important;
}

#faq{
    background: #08ffc8 !important;
}

#show-case{
    margin-bottom: 700px;
}