.intro-section{
    // background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
}

.shadow-text-big{
    position: absolute;
    z-index: 0;
    font-size: 40em;
    top: 5vh;
    left: 15%;
    font-weight: 900;
    letter-spacing: -.05em;
    color: rgba($color: theme-color("secondary"), $alpha: .1);
    
}

#section-1-big-title{
    font-size: 4em;
    font-weight: 900;
    line-height: 1.2em;
    position: absolute;
    letter-spacing: -2.5px;
    z-index: 10;
    top: 25vh;
    left: 7.5%;
    text-transform: capitalize;
}

#section-1-big-img{
    position: absolute;
    top: 12.5vh;
    width: 500px;
    height: 75vh;
    right: 7.5%;
    
    .main-big-img{
        position: relative;
        width: 250px;
        height: 70%;
        margin: 15% auto;
        border-radius: 20px;
        
        img{
            position: relative;
            display: block;
            width: 100%;
            z-index: 10;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0 0 15px 10px rgba($color: theme-color("secondary"), $alpha: .25);
            animation : up-down 5s infinite; 
        }
        
        .bg-shadow{
            content: "asd";
            position: absolute;
            width: 250px;
            height: 80%;
            top: 35%;
            border-radius: 20px;
            transform: rotate(-50deg);
            background: #a8ff3e;
            z-index: 9;
            box-shadow: 0 0 25px 10px rgba($color:#a8ff3e, $alpha: .15);
        }
        
        .bg-shadow-2{
            content: "";
            position: absolute;
            width: 250px;
            height: 100%;
            top: -10%;
            transform: rotate(-20deg);
            background: #00d1cd;
            border-radius: 20px;
            box-shadow: 0 0 25px 10px rgba($color:#00d1cd, $alpha: .15);
            // animation: up-down 4s infinite;
        } 
        
        .bg-shadow-3{
            content: "";
            position: absolute;
            width: 250px;
            height: 100%;
            top: 20px;
            left: 0px;
            border-radius: 20px;
            background: #fb0091;
            transform: translateX(20%) rotate(40deg);
            box-shadow: 0 0 25px 10px rgba($color:#fb0091, $alpha: .15);
        }
    }
}

.btn-getstarted{
    position: absolute;
    top: 50%;
    left: 8.5%;
    z-index: 10;
    border-radius: 100px;
    font-size: 1em;
    padding: 10px 25px;
    box-shadow: 0 0 25px 10px rgba($color: theme-color("danger"), $alpha: .15);
    
    &:after{
        content: "start bost your brand awaraness now";
        color: theme-color("secondary");
        position: absolute;
        left: 75%;
        top: 10px;
        width: 300%;
        pointer-events: none;
    }
}

.client-area-section-1{
    position: absolute;
    top: 65%;
    left: 7.5%;
    z-index: 5;
    
    .item{
        height: 50px;
        margin-left: 20px;
    }
}

.opening{
    position: absolute;
    font-size: 10em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    opacity: 0;
    margin: 0;
    overflow: hidden;
    
    background-image: url(https://images.pexels.com/photos/2261702/pexels-photo-2261702.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    #bg-section-two{
        position: absolute;
        width: 10px;
        height: 10px;
        z-index: -1;
        border-radius: 100%;
    }
    
    #section-two-opening-1{
        position: relative;
        opacity: 0;
        display: none;
        letter-spacing: 50px;
    }
    
    span.greating{
        width: 100%;
        opacity: 0;
        display: none;
        text-transform: lowercase;
        text-shadow: 1px 5px 25px #21212130;
        
        &#section-two-opening-2{
            opacity: .15;
            letter-spacing: 50px;
            span{
                opacity: .15;
            }
        }
        
        &#section-two-opening-3{
            position: relative;
            text-transform: capitalize;
            letter-spacing: 50px;
            width: auto;
            padding: 0 50px;
            background-image: linear-gradient( 109.6deg,  rgba(104,183,249,1) 31.3%, rgba(176,248,200,1) 100.2% );
            
            &:after{
                content: "ANGKODS";
                position: absolute;
                top: 50%;
                font-size: 3.5em;
                left: 50%;
                z-index: -1;
                opacity: .15;
                transform: translate(-50%,-50%);
                color : #353742;
            }
            
            &:before{
                content: "advertising agency";
                position: absolute;
                font-size: 20px;
                color: black;
                transform: translate(0, 50px);
                letter-spacing: 1px;
                right: 50px;
                bottom: 0px;
                z-index: -1;
                background: yellow;
                padding: 5px 20px;
            }
        }
    }
}

#section-three{
    position: absolute;
    font-size: 10em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient( circle 961px at 1.9% 5%,  rgba(242,241,36,1) 0%, rgba(11,236,218,1) 90% );
    background-repeat: no-repeat;
    background-size: cover; 
    transform-style: preserve-3d;
    perspective: 1000px;
    
    #section-three-boy{
        height: 90vh;
        position: absolute;
        filter: drop-shadow(10px 10px 16px #21212140);
        z-index: -1;
        right: 100px;
    }
    
    .section-three-main-text{
        font-size: 1em;
        width: 80%;
        height: 70vh;
        position: relative;
        
        span{
            display: block;
            text-transform: uppercase;
            line-height: .65em;
            color: white;
            text-shadow: 0 -10px 20px #21212110;
            
            &.one{
                text-align: left;
                position: absolute;
                top: 50PX;
                left: 0px;
                z-index: -2;
                transform: translateZ(-50px);
            }
            
            &.two{
                text-align: right;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateZ(50px);
            }
        }
    }
}

#section-four{
    position: absolute;
    font-size: 10em;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    width: 10px;
    height: 0px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(236,250,1,0.98) 0%, rgba(254,154,46,1) 98.1% );
    
    // promotion section
    // width: 30%;
    
    .main-img{
        position: absolute;
        z-index: 10;
        height: 60vh;
        margin: 0 auto;
        filter: drop-shadow(2px 50px 30px #21212135);
        transform: rotate(-5deg) translateY(500px);
        opacity: 0;
    }
    
    .main-img-drink {
        position: absolute;
        z-index: 10;
        height: 60vh;
        transform: translateX(150%) rotate(25deg) scale(1.2);
        filter: drop-shadow(20px 40px 60px #21212140);
        
    }
    
    .food-text{
        font-size: 2em;
        color: white;
        position: absolute;
        z-index: 5;
        letter-spacing: 100px;
        transform: translateY(-15vh);
        text-shadow: 0px 0px 0px;
        opacity: 0;
    }
    
    .drink-text{
        font-size: 1.4em;
        color: transparent;
        position: absolute;
        z-index: 0;
        padding: 30px;
        -webkit-text-stroke: 2px white;
        text-align: left;
        letter-spacing: 10px;
        bottom: 0;
        transform: translate(-20%, -20%);
        filter: drop-shadow(0px 0px 0px #21212100);
    }
    
    .promotion{
        font-size: .8em;
        position: fixed;
        z-index: 0;
        padding: 30px;
        text-align: right;
        bottom: 0;
        right: 0;
        width: 100vh;
        background: #fff;
    }
    
    .promo-banner-text {
        position: fixed;
        left: 50%;
        font-size: .3em;
        top : 50vh;
    }
    
    .conveti{
        position: absolute;
    }
    
    img{
        &.conveti-1{
            right: 2.5%;
            bottom: 0px;
            z-index: 30;
            transform: translate(10%, 100%) rotate(45deg) scale(2);
            filter: blur(2px) drop-shadow(2px 4px 40px #21212110);
            position: absolute;
            right: 0;
            opacity : 0;
        }
        
        &.conveti-2{
            transform: translate(-120%, 200%) scale(1.35) rotate(-5deg);
            z-index: 20;
            filter: drop-shadow(2px 4px 20px #21212120) blur(1px);
            opacity : 0;
        }
        
        &.conveti-3 {
            position: absolute;
            width: 25%;
            z-index: 1;
            transform: translate(85%, -5%);
            filter: drop-shadow(20px 20px 20px #21212120);
            opacity: 0;
        }
        
        &.conveti-4 {
            position: absolute;
            z-index: 30;
            right: 0;
            bottom: 0;
            transform: translate(30%, 30%) rotate(-20deg);
            filter: blur(5px) drop-shadow(10px 10px 30px orange);
        }
        
        &.conveti-5{
            z-index: 12;
            transform: translate(50%, 0%) rotate(20deg);
            width: 100px;
            filter: drop-shadow(0px 0px 20px #21212150);
        }
    }
}


#section-five{
    position: absolute;
    font-size: 10em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
    margin: 0;
    overflow: hidden;
    
    // feature
    // background: yellow;
    // box
    // background-image: radial-gradient( circle 879px at 10.4% 22.3%,  rgba(255,235,238,1) 0%, rgba(186,190,245,1) 93.6% );
    
    #phone-wrapper{
        position: absolute;
        width: auto;
        transition: all .5s ease-in;
        
        &.box{
            padding: 70px 30px;
            transform: rotate(-35deg) skew(10deg, 5deg) scale(0.75) translate(-100%, -40%);
            background-image: radial-gradient(circle farthest-corner at 10% 20%, #fff6ec 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
            box-shadow : -70px 85px 30px #21212120, 
            -70px 85px 50px #21212120, 
            -70px 85px 80px #21212120;
            
            &#phone-wrapper::after {
                content: "";
                width: 50px;
                height: 100%;
                position: absolute;
                top: -44px;
                left: 0;
                z-index: 5;
                transform: skew(0deg, -60deg) translateX(-100%);
                background-image: radial-gradient(circle farthest-corner at 10% 20%, #e2ddd8 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
            }
            
            &#phone-wrapper::before {
                content: "";
                width: 100%;
                height: 70px;
                position: absolute;
                bottom: 30px;
                left: 17px;
                z-index: 9;
                transform: skewX(-44deg) skewY(0deg) translate(45px, 100px);
                background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(100, 46, 122, 0.23) 100.2%, rgba(100, 46, 122, 0.23) 100.2%);
            }
        }
        
        &.application{
            transform: rotate3d(12, 0, 3, 25deg) translate(120%, 0px);
            
            #phone{
                // box-shadow: 20px 20px 25px 10px #21212120;
                .screen{
                    .application{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-image: radial-gradient( circle farthest-corner at 0.5% 97.2%,  rgba(62,134,211,1) 0%, rgba(147,196,255,1) 100.2% );
                        // background-image: url(https://hackernoon.com/hn-images/1*WGRoO_-UNHay_UkTLVNqbQ.png);
                        background-size: cover;
                    }
                }
            }
        }
        
        &.feature{
            transform: rotate3d(12, 0, 3, 0deg) translate(0px, 0px);
            
            #phone{
                box-shadow: 0px 20px 25px 10px #21212120;
                .screen{
                    .feature{
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background: green;
                        background-image: url(https://images.pexels.com/photos/1130626/pexels-photo-1130626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 );
                        background-size: cover;
                        
                        span{
                            position: absolute;
                            width: 50px;
                            height: 50px;
                            background-image: radial-gradient( circle 337px at 0% 2.1%, rgba(0,226,192,1) 0.3%, rgba(149,0,248,1) 100% );
                            border-radius: 100px;
                            bottom: 20px;
                            left: 50%;
                            transform: translate(-50%, 0px);
                            border: solid 2px #fff;
                            
                            img{
                                position: absolute;
                                width: 60%;
                                height: 60%;
                                top: 20%;
                                left: 20%;
                                filter: drop-shadow(0px 0px 6px #21212140);
                            }
                        }
                    }
                }
            }
        }
        
        #phone{
            width: 280px;
            height: calc(280px * 2.05);
            border-radius: 40px;
            background: #353742;
            overflow: hidden;
            box-sizing: border-box;
            padding: 10px;
            // box-shadow: -20px 20px 25px 10px #21212120;
            transition: all .5s ease-in;
            
            &:after{
                content: "";
            }
            
            &:before{
                content: "";
            }
            
            .screen {
                position: relative;
                width: auto;
                height: 100%;
                background: white;
                border-radius: 35px;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(https://images.pexels.com/photos/1366907/pexels-photo-1366907.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
                background-size: cover;
                
                &:before{
                    content: "";
                    position: absolute;
                    height: 30px;
                    width: 50%;
                    background: #353742;
                    left: 25%;
                    border-radius: 0 0 15px 15px;
                    z-index: 1;
                }
                
                &:after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #ffffff30;
                    position: absolute;
                    left: -50%;
                    top: 0px;
                    transform: skewX(-5deg);
                    z-index: 0;
                }
                
            }
        }
        
    }
    
    h1#text-phone {
        font-size: 1em;
        text-transform: uppercase;
        position: relative;
        left: 10%;
        background: red;
        padding: 0 25px;
        color: white;
        transform: skew(0deg, -5deg);
        
        &:after{
            content: "phone";
            position: absolute;
            color: #21212107;
            font-size: 2em;
            z-index: -1;
            left: 50%;
            transform: translateX(0px);
            top: 10%;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
        
        &:before{
            content: "phone";
            position: absolute;
            color: #21212107;
            font-size: 2em;
            z-index: -1;
            left: 50%;
            transform: translateX(0px);
            top: -100%;
            opacity: 1;
            transition: all .5s ease-in-out;
        }
        
        &.active{
            &:after{
                opacity: 1;
                transform: translateX(-50%);
            }
            
            &:before{
                opacity: 1;
                transform: translateX(-100%);
            }
        }
    }
    
    h1#text-app {
        font-size: 1em;
        text-transform: uppercase;
        position: absolute;
        padding: 0 25px;
        line-height: .8em;
        text-align: left;
        left: 10%;
    }
    
    .app-atribute{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        img#play-store {
            position: absolute;
            height: 50px;
            bottom: 10vh;
            right: 50%;
            transform: translateX(55%);
        }
        
        img#app-store {
            position: absolute;
            height: 50px;
            bottom: 10vh;
            right: 50%;
            transform: translateX(-55%);
        } 
        
        .app-preview{
            
        }
        
    }
    
    
}


.ads-banner{
    background: #448ef6;
    width: 400px;
    height: 120px;
    border-radius: 20px;
    
    p{
        font-size: 4em;
        line-height: 1.2em;
    }
}

.service-section{
    .card{
        cursor: pointer;
        
        img{
            transition: all .5s ease-in-out;
            position: relative;
            z-index: 10;
            
        }
        
        .shadow{
            width: 50%;
            height: 50%;
            background: #00000010;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            transform: translate(50%,25%);
            border-radius: 100%;
            filter: blur(30px);
        }
        
        &:hover{
            img{
                transform: scale(1.2);
            }
            
            .title{
                font-weight: 900;
            }
        }
        
        .title{
            transition: all .5s ease-in-out;
            font-size: 1.1em;
            line-height: 1em;
            margin: 10px auto;
            width: 150px;
        }
    }
}

#about-us{
    background: #f9f9f9 !important;
}

#faq{
    background: #08ffc8 !important;
}

#plan{
    background: #fff6da !important;
}