@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@font-face {
    font-family: 'Gilroy-bold';
    src:  url('../fonts/Gilroy/Gilroy-ExtraBold.otf') format('opentype');
  }

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.otf') format('opentype');
}

// https://tinkov.info/gilroy.html

$blue:    #116BFE !default;
$indigo:  #6610f2 !default;
$purple:  #614ad3 !default;
$pink:    #e83e8c !default;
$red:     #f30e5c !default;
$orange:  #fd7e14 !default;
$yellow:  #ffd933 !default;
$green:   #00bd56 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
    // "primary":    #0074e4,
    "purple":    $purple,
    "primary" :   $blue,
    // "secondary":  #b0b0b0 ,
    "secondary" : #9CA3C0,
    "success":    $green,
    "info":       #93deff,
    "warning":    $yellow,
    "danger":     $red,
    "white":     #ffffff,
    "light":      $light,
    "dark":       #3D425E
);

$dark-color : #0F141A; 
$body-color : #f7f7f7;
 
@import "../node_modules/bootstrap/scss/bootstrap";
@import "_grid";
@import "_sectionone";
@import "_text";
@import "_navbar";
@import "_animation";
@import "_card";
@import "_button";
@import "_icon";

html{
    scroll-behavior: smooth;
}

*{
    outline : 0;
    // color: #444444;
    color : #353742;
}

body {
    // font-family: 'Questrial', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Righteous', cursive;
    // font-family: 'Quicksand', sans-serif;
    // font-family: 'Fredoka One', cursive;
    // font-family: 'Varela Round', sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Raleway', sans-serif;
    font-family: 'Gilroy';
    background : $body-color;
    font-weight: 300; 
    // background: #0F141A;
}


.img-responsive {
    display: block;
    width: 100%;
}

h1.logo-angkods.gilroy-bold {
    font-size: 20em;
    letter-spacing: -30px;
}